.login-row {
  height: 100%;
  background: #eee;

  .login-form {
    padding: 60px;
    background: #fff;
    border-radius: 6px;

    .logo {
      text-align: center;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      margin-bottom: 24px;

      span {
        vertical-align: text-bottom;
        font-size: 26px;
        text-transform: uppercase;
        display: inline-block;
      }

    }

    .btn-login {
      width: 100%;
    }

  }

}